.container {
    width: 65%;
    padding: 2%;
    margin: auto;

}

#savebutton {
    margin-left: 1%;

}

#activityAndButton {
    margin-top: 1%;
}

#header4 {
    margin-top: 1%;
}

#firstbutton {
    margin-top: 1.2%;
  }

.MuiBox-root {
    margin-bottom: 1px!important;
}

#ratingform {
    float: right;
    max-width: 30%;
}

#saved_h3 {
    margin-top: 5%;
}

#activitycontainer {
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 1px solid #ced4da;
    padding: 1%;

}
.symbols, #ratingAndButton {
    display:inline;
    
}


@media screen and (max-width: 480px){

    .container {
        width: 85%;
    }
    .fontsizes {
        font-size: 18px!important;
    }

    h1 {
        margin-top: 20px;
    }

    #ratingAndButton {
        display: flex;
        flex-direction: row-reverse;
    }

    #ratingform {
        max-width: 100%;
    }

    br {
        display: none;
      }
    
    #activitycontainer {
        padding: 3%;
    }
    
  }